<h3> Edit SchoolClass Form</h3>

<%= form_for(@school_class) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br><br>
  <%= f.submit %>
<% end %>
